<html>
<head>
<title>$projectName$</title>
</head>
<body>
<p>Welcome to $projectName$</p>
<ul>
<li><a href="browser.html">GWT Interface</a> (do "utgb gwt" and "utgb compile", to generate this page.) </li>
</ul>
</body>
</html>
