<module rename-to="utgb">
	<!-- Inherit the core Web Toolkit stuff.                  -->
	<inherits name='com.google.gwt.user.User'/>
	<inherits name="com.google.gwt.json.JSON"/>
	<inherits name="com.google.gwt.http.HTTP"/>
	<inherits name="com.google.gwt.xml.XML"/>
	<!-- Inherit the UTGB modules -->
	<inherits name="org.utgenome.gwt.utgb.UTGB"/>

	<!-- Specify the app entry point class.                   -->
	<entry-point class='$entryPoint$'/>
  
   <servlet path="/service" class="org.utgenome.gwt.utgb.server.BrowserServiceImpl"/>
   <servlet path="/rpc" class="$serverPackageName$.RPCServiceImpl"/>
      
</module>
