%silk(version:1.0)


# Web request routing settings

-map
 -path: /wiki/\${wikiname}
 -action: utgb-core.wiki

-map
 -path: /\${species}/\${revision}/\${target}(:\${start}-\${end})?/\${action}(.\${type})?
 
-map
 -path: /\${seqid}/\${target}(:\${start}-\${end})?/\${action}(.\${type})? 
 
 