//--------------------------------------
//
// RPCServiceImpl.java
// Since: $date$
//
// $URL$ 
// $Author$
//--------------------------------------
package $serverPackageName$;

import $clientPackageName$.RPCService;
import com.google.gwt.rpc.server.RpcServlet;

/**
 * Server-side implementation of the RPCService
 * 
 */
public class RPCServiceImpl extends RpcServlet implements RPCService {

	private static final long serialVersionUID = 1L;

	public String helloWorld(String name)
	{
		return String.format("hello world! %s", name);
	}
}
